<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Adicionar Funcionario</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="../css/shards.min.css"> -->
</head>

<script>
function alerta()
{
alert("Funcionario adicionado!");
}
</script>
<body>
    <div class="container my-5">
        <h3> Adicionar Funcionario</h3>
        <div class="card">
            <div class="card-body">
                <div class="col-md-10">
                    <form action="#" th:action="@{/funcionario/addfunc}" th:object="${func}" method="post">
                        <div class="row">
                            <div class="form-group col-md-8">
                                <label for="name" class="col-form-label">Nome</label> <input type="text" th:field="*{name}" class="form-control" id="name" placeholder="Nome do funcionário"> <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-8">
                                <label for="cpf" class="col-form-label">Cpf</label> <input type="text" th:field="*{cpf}" class="form-control" id="cpf" placeholder="Cpf do funcionário"> <span th:if="${#fields.hasErrors('cpf')}" th:errors="*{cpf}" class="text-danger"></span>
                            </div>

                            <div class="form-group col-md-8">
                                <label for="breakfast" class="col-form-label">Café da manhã</label> <input type="text" th:field="*{breakfast}" class="form-control" id="breakfast" placeholder="Café da manhã"> <span th:if="${#fields.hasErrors('breakfast')}" th:errors="*{breakfast}" class="text-danger"></span>
                            </div>

                            <div class="col-md-6">
                            <p>
                                <input type="submit" class="btn btn-primary" onClick="alerta()" value="Adicionar Funcionario" >
                            </p>    
                            <p>                            
    						    <a href="/funcionario/listfunc" class="btn btn-primary"><i
       class="fas fa-user ml-2"> Listar Funcionário</i></a>  
       						</p>
        						<a href="/" class="btn btn-primary"><i
       class="fa fa-home"> Home</i></a> 
                            </div>

                            <div class="form-group col-md-8"></div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>